.DS_Store
Servers
target
build
bin
.metadata
.settings
.gradle
*.war
*.bak
ngGamingTavern/node_modules
ngGamingTavern/node_modules/
/ngGamingTavern/node_modules
ngGamingTavern/node_modules/
node_modules/
/node_modules
/node_modules/
GamingTavern/src/main/resources/static/
