<section *ngIf="isLoaded()">

  <div class="container py-{{ topPadding }}">
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 310, "gutter": 15 }'>

      <!-- Breadcrumb -->
      <div mdbRipple rippleColor="hsl(0, 0%, 75%)" class="grid-item four">
        <nav aria-label="breadcrumb" class="bg-glass shadow-4-strong rounded-{{rounding}} p-3">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active">{{user.username}}</li>
          </ol>
        </nav>
      </div>
      <!-- End Breadcrumb -->

      <!-- First Card -->
      <div mdbRipple rippleColor="hsl(0, 0%, 75%)" class="grid-item {{gridItemClass}}">
        <div class="card bg-glass">
          <div class="card-body">
            <div class="{{ leftSummaryClass }}">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" [ngStyle]="{'width': profileImageWidth}" />
              <h5 class="mt-{{ headerMarginTop }} {{ textClass }}">
                {{ user.username }}
              </h5>
              <p class="mt-{{ descriptionMarginTop }}">
                {{ user.description }}
              </p>

              <!-- Buttons Group 2 -->
              <div class="btn-group btn-group-sm" role="group">
                <!-- Friend -->
                <button type="button" class="btn btn-{{ friendButtonType }}">
                  <span>
                    <i class="fas fa-user-plus"></i>
                    {{ friendButtonLabel }}
                  </span>
                </button>
                <!-- Chat -->
                <button type="button" class="btn btn-{{ chatButtonType }}">
                  <span>
                    <i class="fas fa-user-plus"></i>
                    {{ chatButtonLabel }}
                  </span>
                </button>
              </div>
            </div>
            <hr />

            <!-- User Info -->
            <div>
              <!-- Username -->
              <div class="row">
                <span class="{{ textClass }}">
                  <i class="fas fa-user me-{{ leftIconMarginEnd }}"></i>
                  {{ user.username }}
                </span>
              </div>
              <!-- Email -->
              <div class="row">
                <span class="{{ textClass }}">
                  <i class="fas fa-envelope me-{{ leftIconMarginEnd }}"></i>
                  {{ user.email }}
                </span>
              </div>
              <!-- Created -->
              <div class="row">
                <span class="{{ textClass }}">
                  <i class="fas fa-calendar-plus me-{{ leftIconMarginEnd }}"></i>
                  {{ user.created | date:'short' }}
                </span>
              </div>
              <!-- Updated -->
              <div class="row">
                <span class="{{ textClass }}">
                  <i class="fas fa-calendar-check me-{{ leftIconMarginEnd }}"></i>
                  {{ user.updated | date:'short' }}
                </span>
              </div>
            </div>
            <!-- End User Info -->
            <hr />

            <!-- User Summary -->
            <!-- Row 1 -->
            <div class="row {{ leftSummaryClass }} mb-{{ leftSummaryRowMargin }}">
              <!-- Friends-->
              <div class="col-sm-{{ leftSummaryCol1Width }}">
                <strong>Friends</strong>
                <br />
                {{ friends.length }}
              </div>
              <!-- Blocked Users-->
              <div class="col-sm-{{ leftSummaryCol2Width }}">
                <strong>Blocked Users</strong>
                <br />
                {{ blockedUsers.length }}
              </div>
            </div>
            <!-- End Row 1 -->

            <!-- Row 2 -->
            <div class="row {{ leftSummaryClass }}">
              <!-- Aliases-->
              <div class="col-sm-{{ leftSummaryCol1Width }}">
                <strong>Aliases</strong>
                <br />
                {{ aliases.length }}
              </div>
              <!-- Games-->
              <div class="col-sm-{{ leftSummaryCol2Width }}">
                <strong>Games</strong>
                <br />
                {{ games.length }}
              </div>
            </div>

            <!-- Row 3 -->
            <div class="row {{ leftSummaryClass }}">
              <!-- Locations-->
              <div class="col-sm-{{ leftSummaryCol1Width }}">
                <strong>Locations</strong>
                <br />
                {{ locations.length }}
              </div>
              <!-- Row 3 Column 3-->
              <div class="col-sm-{{ leftSummaryCol2Width }}">
                <strong>Meetups</strong>
                <br />
                {{ meetups.length }}
              </div>
            </div>
            <!-- End Row 3 -->
            <hr />
            <!-- End User Summary -->

            <!-- Row 3 -->
            <div class="{{ leftSummaryClass }}">
              <!-- Button Group 2 -->
              <div class="btn-group btn-group-sm" role="group">
                <!-- Endorsement -->
                <button type="button" class="btn btn-primary">
                  <span>
                    <i class="fas fa-user-plus"></i>
                    {{ endorsementButtonLabel }}
                  </span>
                </button>
                <!-- Block -->
                <button type="button" class="btn btn-danger">
                  <span>
                    <i class="fas fa-user-plus"></i>
                    {{ blockButtonLabel }}
                  </span>
                </button>
              </div> <!-- End Button Group -->
            </div> <!-- End Row 3 -->
          </div> <!-- End Card Body -->
        </div> <!-- End Card -->
      </div> <!-- End First Card -->

      <!-- Image / Card 2 -->
      <div mdbRipple rippleColor="hsl(0, 0%, 75%)" class="grid-item two full-image {{gridItemClass}}">
        <div class="card bg-glass">
          <img src="assets/art/tavern_table.jpeg" class="rounded-{{rounding}} " style="width: 100%" />
        </div>
      </div> <!-- End Image / Card 2 -->

      <!-- Card 3 -->
      <div mdbRipple rippleColor="hsl(0, 0%, 75%)" class="grid-item {{gridItemClass}}">
        <div class="card bg-glass">
          <div class="card-body {{ leftSummaryClass }}">
            <h4>{{friends.length}} Friends</h4>
            <hr>
            <div class="row my-0">
              <table class="table table-sm table-borderless table-hover table-striped">
                <tbody>
                  <tr *ngFor="let friend of friendsDisp[friendsPage]">
                    <td class="text-white">{{friend.username}}</td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="friends.length > 5" class="d-grid gap-0 px-0 d-sm-flex justify-content-sm-center">
                <button (click)="friendsPage = tPrev(friendsDisp, friendsPage)"
                  class="btn btn-outline-light btn-sm me-md-2" type="button">
                  <span><i class="fas fa-angles-left fa-sm me-1"></i>Prev</span>
                </button>
                <button (click)="friendsPage = tNext(friendsDisp, friendsPage)" class="btn btn-outline-light btn-sm "
                  type="button">
                  <span>Next<i class="fas fa-angles-right fa-sm ms-1"></i></span>
                </button>
              </div>
              <div class="text-center text-muted">
                <small>Page {{friendsPage + 1}} of {{friendsDisp.length - 1}}</small>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- End Card 3 -->

      <!-- Card 4 -->
      <div mdbRipple rippleColor="hsl(0, 0%, 75%)" class="grid-item {{gridItemClass}}">
        <div class="card bg-glass">
          <div class="card-body {{ leftSummaryClass }}">
            <h4>{{aliases.length}} Aliases</h4>
            <hr>
            <div class="row my-0">
              <table class="table table-sm table-borderless table-hover table-striped">
                <tbody>
                  <tr *ngFor="let alias of aliasesDisp[aliasesPage]">
                    <td class="text-white">{{alias.name}}</td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="aliases.length > 5" class="d-grid gap-0 px-0 d-sm-flex justify-content-sm-center">
                <button (click)="aliasesPage = tPrev(aliasesDisp, aliasesPage)"
                  class="btn btn-outline-light btn-sm me-md-2" type="button">
                  <span><i class="fas fa-angles-left fa-sm me-1"></i>Prev</span>
                </button>
                <button (click)="aliasesPage = tNext(aliasesDisp, aliasesPage)" class="btn btn-outline-light btn-sm "
                  type="button">
                  <span>Next<i class="fas fa-angles-right fa-sm ms-1"></i></span>
                </button>
              </div>
              <div class="text-center text-muted">
                <small>Page {{aliasesPage + 1}} of {{aliasesDisp.length - 1}}</small>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- End Card 4 -->

      <!-- Card 4 -->
      <div *ngIf="!isLoading">
        <div *ngFor="let game of games" mdbRipple rippleColor="hsl(0, 0%, 75%)" class="grid-item {{gridItemClass}}">
          <div class="card bg-glass">
            <img src="{{game.imageUrl}}" class="rounded-{{rounding}} " style="width: 100%" />
          </div>
        </div>
        <div mdbRipple rippleColor="hsl(0, 0%, 75%)" class="grid-item {{gridItemClass}}">
          <div class="card bg-glass">
            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/730/header.jpg?t=1641233427"
              class="rounded-{{rounding}} " style="width: 100%" />
          </div>
        </div>
      </div> <!-- End Card 4 -->

      <!-- End Grid -->
    </div>

    <!-- Begin Card -->
    <div mdbRipple rippleColor="{{rippleColor}}" class="grid-item {{gridItemClass}}">
      <div>
        <form>
          <label for="email">Email</label>
          <input  [(ngModel)]="user.email" type="text" name="email" placeholder="Email">
          <br>
          <label for="description">description</label>
          <input  [(ngModel)]="user.description" type="text" name="description" placeholder="description">
          <br>
          <label for="firstName">First Name</label>
          <input  [(ngModel)]="user.firstName" type="text" name="firstName" placeholder="First Name">
          <br>
          <label for="lastName">last Name</label>
          <input  [(ngModel)]="user.lastName" type="text" name="lastName" placeholder="Last Name">
          <br>
          <button (click)="getUpdateUser(user)">Update Profile</button>
        </form>
      </div>
    </div> <!-- End Card -->

  </div>
</section>