<section>
  <div class="container py-{{ topPadding }}">
    <!-- <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-glass shadow-4-strong rounded-5 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>
      </div>
    </div> -->

    <div class="row">
      <div class="col-2">
        <div class="card bg-glass mb-4">
          <div class="card-body">
            <h4>{{friends.length}} Friends</h4>
            <hr>
            <div class="row my-0">
              <table class="table table-sm table-borderless table-hover table-striped">
                <!-- <thead>
                  <tr>
                    <th>{{(friendsPage * 5) + 1}} - {{(friendsPage * 5) + 5}}</th>
                  </tr>
                </thead> -->
                <tbody>
                  <tr *ngFor="let friend of friendsDisp[friendsPage]">
                    <td class="text-white">{{friend.username}}</td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="friends.length > 5" class="d-grid gap-0 px-0 d-sm-flex justify-content-sm-center">
                <button (click)="friendsPage = tPrev(friendsDisp, friendsPage)"
                class="btn btn-outline-light btn-sm me-md-2" type="button">
                <span><i class="fas fa-angles-left fa-sm me-1"></i>Prev</span>
              </button>
                <button (click)="friendsPage = tNext(friendsDisp, friendsPage)" class="btn btn-outline-light btn-sm "
                type="button">
                  <span>Next<i class="fas fa-angles-right fa-sm ms-1"></i></span>
                </button>
              </div>
              <div class="text-center text-muted">
                <small>Page {{friendsPage + 1}} of {{friendsDisp.length - 1}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row" *ngIf="!isLoading">
      <div class="col-lg-{{ leftCardWidth }}">
        <div class="card bg-glass mb-{{ topPadding }}">
          <div class="card-body">
            <div class="{{ leftSummaryClass }}">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" [ngStyle]="{'width': profileImageWidth}" />
              <h5 class="mt-{{ headerMarginTop }} {{ textClass }}">
                {{ user.username }}
              </h5>
              <p class="mt-{{ descriptionMarginTop }}">
                {{ user.description }}
              </p>

              <!-- Buttons Group 2 -->
              <div class="btn-group btn-group-sm" role="group">
                <!-- Friend -->
                <button type="button" class="btn btn-{{ friendButtonType }}">
                  <span>
                    <i class="fas fa-user-plus"></i>
                    {{ friendButtonLabel }}
                  </span>
                </button>
                <!-- Chat -->
                <button type="button" class="btn btn-{{ chatButtonType }}">
                  <span>
                    <i class="fas fa-user-plus"></i>
                    {{ chatButtonLabel }}
                  </span>
                </button>
              </div>
            </div>
            <hr />

            <!-- User Info -->
            <div>
              <!-- Username -->
              <div class="row">
                <span class="{{ textClass }}">
                  <i class="fas fa-user me-{{ leftIconMarginEnd }}"></i>
                  {{ user.username }}
                </span>
              </div>
              <!-- Email -->
              <div class="row">
                <span class="{{ textClass }}">
                  <i class="fas fa-envelope me-{{ leftIconMarginEnd }}"></i>
                  {{ user.email }}
                </span>
              </div>
              <!-- Created -->
              <div class="row">
                <span class="{{ textClass }}">
                  <i class="fas fa-calendar-plus me-{{ leftIconMarginEnd }}"></i>
                  {{ user.created | date:'short' }}
                </span>
              </div>
              <!-- Updated -->
              <div class="row">
                <span class="{{ textClass }}">
                  <i class="fas fa-calendar-check me-{{ leftIconMarginEnd }}"></i>
                  {{ user.updated | date:'short' }}
                </span>
              </div>
            </div>
            <!-- End User Info -->
            <hr />

            <!-- User Summary -->
            <!-- Row 1 -->
            <div class="row {{ leftSummaryClass }} mb-{{ leftSummaryRowMargin }}">
              <!-- Friends-->
              <div class="col-sm-{{ leftSummaryCol1Width }}">
                <strong>Friends</strong>
                <br />
                {{ friends.length }}
              </div>
              <!-- Blocked Users-->
              <div class="col-sm-{{ leftSummaryCol2Width }}">
                <strong>Blocked Users</strong>
                <br />
                {{ blockedUsers.length }}
              </div>
            </div>
            <!-- End Row 1 -->

            <!-- Row 2 -->
            <div class="row {{ leftSummaryClass }}">
              <!-- Aliases-->
              <div class="col-sm-{{ leftSummaryCol1Width }}">
                <strong>Aliases</strong>
                <br />
                {{ aliases.length }}
              </div>
              <!-- Games-->
              <div class="col-sm-{{ leftSummaryCol2Width }}">
                <strong>Games</strong>
                <br />
                {{ games.length }}
              </div>
            </div>

            <!-- Row 3 -->
            <div class="row {{ leftSummaryClass }}">
              <!-- Locations-->
              <div class="col-sm-{{ leftSummaryCol1Width }}">
                <strong>Locations</strong>
                <br />
                {{ locations.length }}
              </div>
              <!-- Row 3 Column 3-->
              <div class="col-sm-{{ leftSummaryCol2Width }}">
                <strong>Meetups</strong>
                <br />
                {{ meetups.length }}
              </div>
            </div>
            <!-- End Row 3 -->
            <hr />
            <!-- End User Summary -->

            <!-- Row 3 -->
            <div class="{{ leftSummaryClass }}">
              <!-- Button Group 2 -->
              <div class="btn-group btn-group-sm" role="group">
                <!-- Endorsement -->
                <button type="button" class="btn btn-primary">
                  <span>
                    <i class="fas fa-user-plus"></i>
                    {{ endorsementButtonLabel }}
                  </span>
                </button>
                <!-- Block -->
                <button type="button" class="btn btn-danger">
                  <span>
                    <i class="fas fa-user-plus"></i>
                    {{ blockButtonLabel }}
                  </span>
                </button>
              </div>
              <!-- End Button Group -->
            </div>
            <!-- End Card Body -->
          </div>
          <!-- End Card -->
        </div>

        <!-- End Left Column -->
      </div>

      <!-- Right Column -->
      <div class="col-lg-{{ rightColumnWidth }}">
        <!-- Right Column Row 1 -->
        <div class="row">
          <!-- Aliases -->
          <div class="col-md-{{ rightRow1Card1Width }}">
            <div class="card bg-glass mb-1 mb-md-0">
              <div class="card-body">
                <div class="row">
                  <h4>Aliases</h4>
                </div>
                <hr>
                <div class="row">
                  <ul *ngIf="aliases.length > 0">
                    <li *ngFor="let alias of aliases">
                      <a href="/aliases/{{alias.id}}">{{alias.name}}</a>
                    </li>
                  </ul>
                  <h6 *ngIf="!aliases || aliases.length == 0">No aliases</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- Friends -->
          <div class="col-md-{{ rightRow1Card2Width }}">
            <div class="card bg-glass mb-1 mb-md-0">
              <div class="card-body">
                <div class="row">
                  <h4>Friends</h4>
                </div>
                <hr>
                <div class="row">
                  <ul *ngIf="friends.length > 0">
                    <li *ngFor="let friend of friends">
                      <a href="users/{{friend.username}}">{{friend.username}}</a>
                    </li>
                  </ul>
                  <h6 *ngIf="friends.length == 0">no friends</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- Blocked Users -->
          <div class="col-md-{{ rightRow1Card3Width }}">
            <div class="card bg-glass mb-1 mb-md-0">
              <div class="card-body">
                <div class="row">
                  <h4>Blocked Users</h4>
                </div>
                <hr>
                <div class="row">
                  <ul *ngIf="blockedUsers.length > 0">
                    <li *ngFor="let blockedUser of blockedUsers">
                      <a href="users/{{blockedUser.username}}">{{blockedUser.username}}</a>
                    </li>
                  </ul>
                  <h6 *ngIf="blockedUsers.length == 0">no blocked users</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- Games -->
          <div class="col-md-{{ rightRow1Card4Width }}">
            <div class="card bg-glass mb-1 mb-md-0">
              <div class="card-body">
                <div class="row">
                  <h4>Games</h4>
                </div>
                <hr>
                <div class="row">
                  <ul *ngIf="games.length > 0">
                    <li *ngFor="let game of games">
                      <a href="games/{{game.id}}">{{game.name}} {{game.rating.name}}</a>
                    </li>
                  </ul>
                  <h6 *ngIf="games.length == 0">no games</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Right Column Row 1 -->

        <!-- Locations -->
        <!-- Right Column Row 2 -->
        <div class="row my-{{topPadding}}">
          <!-- Locations -->
          <div class="col-md-{{ rightRow2Card1Width }}">
            <div class="card bg-glass mb-1 mb-md-0">
              <div class="card-body">
                <div class="row">
                  <h4>Locations</h4>
                </div>
                <hr>
                <div class="row">
                  <ul *ngIf="locations.length > 0">
                    <li *ngFor="let location of locations">
                      {{location.name}}
                      <br *ngIf="location.name" />
                      {{location.street}}
                      <br>
                      {{location.city}}, {{location.state}} {{location.zip}} ({{location.country}})
                      <br>
                      Timezone: {{location.timezone.abbreviation}} (UDT {{location.timezone.offset}})
                    </li>
                  </ul>
                  <h6 *ngIf="locations.length == 0">No locations</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- Meetup -->
          <div class="col-md-{{ rightRow2Card2Width }}">
            <div class="card bg-glass mb-1 mb-md-0">
              <div class="card-body">
                <div class="row">
                  <h4>Meetups</h4>
                </div>
                <hr>
                <div class="row">
                  <ul *ngIf="meetups.length > 0">
                    <li *ngFor="let meetup of meetups">
                      <strong>{{meetup.name}}</strong>
                      <br>
                      {{meetup.date | date:'short'}} {{meetup.timezone.abbreviation}} (UDT {{meetup.timezone.offset}})
                      (Capacity: {{meetup.capacity}})
                      <br>
                      Created: {{meetup.created | date:'short'}} Updated: {{meetup.updated | date:'short'}}

                    </li>
                  </ul>
                  <h6 *ngIf="meetups.length == 0">No meetups</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Right Column Row 2 -->

        <!-- <div class="card bg-glass mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ getFullName() }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">example@example.com</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Image</p>
              </div>
              <div class="col-sm-9">
                <p
                  *ngIf="!user.imageUrl || user.imageUrl == ''"
                  class="text-muted mb-0"
                >
                  (no image)
                </p>
                <img *ngIf="user.imageUrl" src="{{ user.imageUrl }}" />
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(098) 765-4321</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Created</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.created | date }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Updated</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.updated | date }}</p>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="row">
          <div class="col-md-6">
            <div class="card bg-glass mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">
                  <span class="text-primary font-italic me-1">assigment</span>
                  Project Status
                </p>
                <p class="mb-1" style="font-size: 0.77rem">Web Design</p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 80%"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">
                  Website Markup
                </p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 72%"
                    aria-valuenow="72"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">One Page</p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 89%"
                    aria-valuenow="89"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">
                  Mobile Template
                </p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 55%"
                    aria-valuenow="55"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">Backend API</p>
                <div class="progress rounded mb-2" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 66%"
                    aria-valuenow="66"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card bg-glass mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">
                  <span class="text-primary font-italic me-1">assigment</span>
                  Project Status
                </p>
                <p class="mb-1" style="font-size: 0.77rem">Web Design</p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 80%"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">
                  Website Markup
                </p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 72%"
                    aria-valuenow="72"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">One Page</p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 89%"
                    aria-valuenow="89"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">
                  Mobile Template
                </p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 55%"
                    aria-valuenow="55"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">Backend API</p>
                <div class="progress rounded mb-2" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 66%"
                    aria-valuenow="66"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <!-- End Right Column -->
    </div>
  </div>
</section>