<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-glass">
  <div mdbRipple rippleColor="{{rippleColor}}" class="container justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Logo -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" [routerLink]="['']">
        <img src="assets/art/logo2_190_26.png" height="26" alt="" loading="lazy"
          style="margin-top: 2px; margin-bottom: 0px" />
      </a>
      <!-- End Logo -->

      <!-- Search -->
      <div class="input-group">
        <!-- Search Form -->
        <form class="{{ searchFormClass }}" mdbRipple rippleColor="{{ rippleColor }}">
          <input autocomplete="off" type="search" class="{{ searchInputClass }}" placeholder="Search"
            id="searchInput" />

          <!-- Search button -->
          <button class="btn btn-primary" type="button" id="button-search" mdbRipple rippleColor="{{ rippleColor }}">
            <i class="fas fa-search"></i>
          </button>
          <!-- End Search button -->
        </form>
        <!-- End Search Form -->
      </div>
      <!-- End Search -->
    </div>
    <!-- End Left elements -->

    <!-- Center elements -->
    <ul class="navbar-nav flex-row d-none d-md-flex">
      <!-- Chat -->
      <li *ngIf="isLoggedIn()" class="{{ liClass }}">
        <a class="{{ centerItemsAClass }}" [routerLink]="['/chat']">
          <span class="{{ iconSpanClass }}"><i class="fas fa-comments fa-lg"></i> Chat</span>
        </a>
      </li>
      <!-- Chat -->

      <!-- Clans -->
      <li *ngIf="isLoggedIn()" class="{{ liClass }}">
        <a class="{{ centerItemsAClass }}" [routerLink]="['/clans']">
          <span class="{{ iconSpanClass }}"><i class="fas fa-champagne-glasses fa-lg"></i> Clans</span>
        </a>
      </li>
      <!-- End Clans -->

      <!-- Games -->
      <li *ngIf="isLoggedIn()" class="{{ liClass }}">
        <a class="{{ centerItemsAClass }}" [routerLink]="['/games']">
          <span class="{{ iconSpanClass }}"><i class="fas fa-gamepad fa-lg"></i> Games</span>
        </a>
      </li>
      <!-- End Games -->

      <!-- Games -->
      <li *ngIf="isLoggedIn()" class="{{ liClass }}">
        <a class="{{ centerItemsAClass }}" [routerLink]="['/servers']">
          <span class="{{ iconSpanClass }}"><i class="fas fa-server fa-lg"></i> Servers</span>
        </a>
      </li>
      <!-- End Games -->

    </ul>
    <!-- End Center elements -->

    <!-- Right elements -->
    <ul class="navbar-nav flex-row">
      <!-- Profile -->
      <li *ngIf="isLoggedIn()" class="{{ liClass }}">
        <a class="{{ rightItemsAClass }}" [routerLink]="['/profile']">
          <strong class="{{ rightItemStrongClass }}">{{ profileLabel }}</strong>
        </a>
      </li>
      <!-- End Profile -->

      <!-- Logout -->
      <li *ngIf="isLoggedIn()" class="{{ liClass }}">
        <a class="{{ rightItemsAClass }}" [routerLink]="['/logout']">
          <strong class="{{ rightItemStrongClass }}">{{ logoutLabel }}</strong>
        </a>
      </li>
      <!-- End Logout -->

      <!-- Register -->
      <li *ngIf="!isLoggedIn()" class="{{ liClass }}">
        <a class="{{ rightItemsAClass }}" [routerLink]="['/register']">
          <strong class="{{ rightItemStrongClass }}">{{
            registerLabel
            }}</strong>
        </a>
      </li>
      <!-- End Register -->

      <!-- Login -->
      <li *ngIf="!isLoggedIn()" class="{{ liClass }}">
        <!-- <a class="{{ rightItemsAClass }}" [routerLink]="['/login']"> -->
        <a class="{{ rightItemsAClass }}" (click)="openLoginModal()">
          <strong class="{{ rightItemStrongClass }}">{{ loginLabel }}</strong>
        </a>
      </li>
      <!-- End Login -->
    </ul>
    <!-- End Right elements -->
  </div>


</nav>
<!-- End Navbar -->