<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-glass">
  <div class="container justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Logo -->
      <a
        class="navbar-brand me-2 mb-1 d-flex align-items-center"
        [routerLink]="['']"
      >
        <img
          src="assets/art/logo2_190_26.png"
          height="26"
          alt=""
          loading="lazy"
          style="margin-top: 2px; margin-bottom: 0px"
        />
      </a>
      <!-- End Logo -->

      <!-- Search -->
      <div class="input-group">
        <!-- Search Form -->
        <form
          class="{{ searchFormClass }}"
          mdbRipple
          rippleColor="{{ rippleColor }}"
        >
          <input
            autocomplete="off"
            type="search"
            class="{{ searchInputClass }}"
            placeholder="Search"
            id="searchInput"
          />

          <!-- Search button -->
          <button
            class="btn btn-primary"
            type="button"
            id="button-search"
            mdbRipple
            rippleColor="{{ rippleColor }}"
          >
            <i class="fas fa-search"></i>
          </button>
          <!-- End Search button -->
        </form>
        <!-- End Search Form -->
      </div>
      <!-- End Search -->
    </div>
    <!-- End Left elements -->

    <!-- Center elements -->
    <ul class="navbar-nav flex-row d-none d-md-flex">
      <!-- Friends -->
      <li *ngIf="isLoggedIn()" class="{{ liClass }}">
        <a class="{{ centerItemsAClass }}" [routerLink]="['/friends']">
          <span class="{{ iconSpanClass }}"
            ><i class="fas fa-users fa-lg"></i
          ></span>
          <span
            *ngIf="friendsBadgeCount > 0"
            class="{{ centerItemsBadgeSpanClass }}"
            >{{ friendsBadgeCount }}</span
          >
        </a>
      </li>
      <!-- Friends -->

      <!-- Chat -->
      <li *ngIf="isLoggedIn()" class="{{ liClass }}">
        <a class="{{ centerItemsAClass }}" [routerLink]="['/chat']">
          <span class="{{ iconSpanClass }}"
            ><i class="fas fa-comments fa-lg"></i
          ></span>
          <span
            *ngIf="chatBadgeCount > 0"
            class="{{ centerItemsBadgeSpanClass }}"
            >{{ chatBadgeCount }}</span
          >
        </a>
      </li>
      <!-- End Chat -->

      <!-- Endorsements -->
      <li *ngIf="isLoggedIn()" class="{{ liClass }}">
        <a class="{{ centerItemsAClass }}" [routerLink]="['/endorsements']">
          <span class="{{ iconSpanClass }}"
            ><i class="fas fa-thumbs-up fa-lg"></i
          ></span>
          <span
            *ngIf="friendsBadgeCount > 0"
            class="{{ centerItemsBadgeSpanClass }}"
            >{{ friendsBadgeCount }}</span
          >
        </a>
      </li>
      <!-- End Endorsements -->
    </ul>
    <!-- End Center elements -->

    <!-- Right elements -->
    <ul class="navbar-nav flex-row">
      <!-- Profile -->
      <li *ngIf="isLoggedIn()" class="{{ liClass }}">
        <a class="{{ rightItemsAClass }}" [routerLink]="['/profile']">
          <strong class="{{ rightItemStrongClass }}">{{ profileLabel }}</strong>
        </a>
      </li>
      <!-- End Profile -->

      <!-- Logout -->
      <li *ngIf="isLoggedIn()" class="{{ liClass }}">
        <a class="{{ rightItemsAClass }}" [routerLink]="['/logout']">
          <strong class="{{ rightItemStrongClass }}">{{ logoutLabel }}</strong>
        </a>
      </li>
      <!-- End Logout -->

      <!-- Register -->
      <li *ngIf="!isLoggedIn()" class="{{ liClass }}">
        <a class="{{ rightItemsAClass }}" [routerLink]="['/register']">
          <strong class="{{ rightItemStrongClass }}">{{
            registerLabel
          }}</strong>
        </a>
      </li>
      <!-- End Register -->

      <!-- Login -->
      <li *ngIf="!isLoggedIn()" class="{{ liClass }}">
        <!-- <a class="{{ rightItemsAClass }}" [routerLink]="['/login']"> -->
        <a class="{{ rightItemsAClass }}" href="#" (click)="openLoginModal()">
          <strong class="{{ rightItemStrongClass }}">{{ loginLabel }}</strong>
        </a>
      </li>
      <!-- End Login -->
    </ul>
    <!-- End Right elements -->
  </div>

  
</nav>
<!-- End Navbar -->
