<section>
    <div class="container py-5">
        <div class="row">
            <!-- Left Column -->
            <div class="col-lg-6">
                <div class="card bg-glass mb-4">
                    <div class="card-body">
                        <div class="text-center text-muted">
                            <h5>Test</h5>
                            <h5>Test</h5>
                            <h5>Test</h5>
                            <h5>Test</h5>
                            <h5>Test</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Column -->
            <div class="col-lg-6">
                <div class="card bg-glass mb-4">
                    <div class="card-body">
                        <div class="text-center text-muted">
                            <h5>Test</h5>
                            <h5>Test</h5>
                            <h5>Test</h5>
                            <h5>Test</h5>
                            <h5>Test</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>