<section>
    <div class="container py-{{topPadding}}">
        <div class="row">
            <!-- Left Column -->
            <div class="col-lg-{{leftColumnWidth}}">
                <div class="card bg-glass mb-0">
                    <div class="card-body">
                        <!-- Row 1 -->
                        <div class="row">
                            <h3>{{leftHeader}}</h3>
                            <ul>
                                <li *ngFor="let item of collection" >{{item}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Column -->
            <div class="col-lg-{{rightColumnWidth}}">
                <!-- Primary Card -->
                <div class="row">
                    <div class="col-12">
                        <div class="card bg-glass mb-2">
                            <div class="card-body">
                                <div class="text-center text-muted">
                                    <!-- Row 1 -->
                                    <div class="row">
                                        <img src="{{imageUrl}}" />
                                        <h3>{{name}}</h3>
                                        <p>{{description}}</p>
                                        <p>Created: {{created}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Subcard Row 1 -->
                <div class="row">
                    <!-- Sub card 1 -->
                    <div class="col-6">
                        <div class="card bg-glass mb-2">
                            <div class="card-body">
                                <div class="row">
                                    <h3>Card 1</h3>
                                </div>
                                <hr>
                                <div class="row">
                                    <h6>Contents</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sub card 2 -->
                    <div class="col-6">
                        <div class="card bg-glass mb-2">
                            <div class="card-body">
                                <div class="row">
                                    <h3>Card 2</h3>
                                </div>
                                <hr>
                                <div class="row">
                                    <h6>Contents</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Subcard Row 2 -->
                <div class="row">
                    <!-- Sub card 3 -->
                    <div class="col-6">
                        <div class="card bg-glass mb-2">
                            <div class="card-body">
                                <div class="row">
                                    <h3>Card 3</h3>
                                </div>
                                <hr>
                                <div class="row">
                                    <h6>Contents</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sub card 4 -->
                    <div class="col-6">
                        <div class="card bg-glass mb-2">
                            <div class="card-body">
                                <div class="row">
                                    <h3>Card 4</h3>
                                </div>
                                <hr>
                                <div class="row">
                                    <h6>Contents</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>