<!-- Begin Section -->
<section>
  <!-- Begin Container -->
  <div class="container py-3">

    <!-- Begin Grid -->
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 310, "gutter": 15 }'>

      <!-- Breadcrumb -->
      <div mdbRipple rippleColor="{{rippleColor}}" class="grid-item four {{gridItemClass}}">
        <div class="card bg-glass">
          <nav aria-label="breadcrumb" class="p-3">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">Home</li>
              <li class="breadcrumb-item">Chat</li>
              <li class="breadcrumb-item active">end path in double braces</li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- End Breadcrumb -->

      <!-- Begin Card -->
      <div mdbRipple rippleColor="{{rippleColor}}" class="grid-item four {{gridItemClass}}">
        <div class="card bg-glass">
          <div class="card-body">
            <h4>FOUR WIDE WITH BACKGROUND</h4>
            <hr>
            <div>

            </div>
          </div>
        </div>
      </div> <!-- End Card -->

      <!-- Begin Card -->
      <div mdbRipple rippleColor="{{rippleColor}}" class="grid-item three {{gridItemClass}}">
        <div class="card bg-glass">
          <div class="card-body">
            <h4>THREE WIDE WITH BACKGROUND</h4>
            <hr>
            <div>
              contents
            </div>
          </div>
        </div>
      </div> <!-- End Card -->

      <!-- Begin Card -->
      <div mdbRipple rippleColor="{{rippleColor}}" class="grid-item two {{gridItemClass}}">
        <div class="card bg-glass">
          <div class="card-body">
            <h4>TWO WIDE WITH BACKGROUND</h4>
            <hr>
            <div>
              contents
            </div>
          </div>
        </div>
      </div> <!-- End Card -->

      <!-- Begin Card -->
      <div mdbRipple rippleColor="{{rippleColor}}" class="grid-item {{gridItemClass}}">
        <div class="card bg-glass">
          <div class="card-body">
            <h4>ONE WIDE WITH BACKGROUND</h4>
            <hr>
            <div>
              contents
            </div>
          </div>
        </div>
      </div> <!-- End Card -->

      <!-- Begin Card -->
      <div mdbRipple rippleColor="{{rippleColor}}" class="grid-item {{gridItemClass}}">
        <h4>ONE WIDE NO BACKGROUND</h4>
        <hr>
        <div>
          contents
        </div>
      </div> <!-- End Card -->

      <!-- Begin Card -->
      <div mdbRipple rippleColor="{{rippleColor}}" class="grid-item two {{gridItemClass}}">
        <h4>ONE WIDE NO BACKGROUND</h4>
        <hr>
        <div>
          contents
        </div>
      </div> <!-- End Card -->

      <!-- Begin Card -->
      <div mdbRipple rippleColor="{{rippleColor}}" class="grid-item three {{gridItemClass}}">
        <h4>ONE WIDE NO BACKGROUND</h4>
        <hr>
        <div>
          contents
        </div>
      </div> <!-- End Card -->

      <!-- Begin Card -->
      <div mdbRipple rippleColor="{{rippleColor}}" class="grid-item four {{gridItemClass}}">
        <h4>ONE WIDE NO BACKGROUND</h4>
        <hr>
        <div>
          contents
        </div>
      </div> <!-- End Card -->

    </div> <!-- End Grid -->
  </div> <!-- End Container -->
</section> <!-- End Section -->