<div class="video" style="opacity: 0.1">
  <div class="container-fluid">
    <iframe
      id="myVideo"
      style="
        border: 0;
        position: absolute;
        z-index: -11;
        width: 100%;
        height: 100%;
        transform: scale(1.3);
      "
      src="https://www.youtube.com/embed/oshvcDjEKZc?autoplay=1&mute=1&controls=0&showinfo=0"
      title="YouTube video player"
      frameborder="0"
      allow="autoplay;"
    >
    </iframe>
  </div>
</div>

<div class="welcome">
  

  <a href="#" class="button">Enter</a>
</div>



<!-- <div style="z-index: 3; position: absolute; left: 100px; top: 100px">
  <a href="http://localhost:4200/clans" target="_parent">
    <button mat-flat-button id="findClan" style="font-size: 20px">
      Find Clan
    </button></a
  >
</div>

<div style="z-index: 3; position: absolute; left: 1750px; top: 100px">
 <a href="http://localhost:4200/profile"> <button mat-flat-button id="home" style="font-size: 20px">Home</button></a>
</div> -->

<div
  class="row row-cols-1 row-cols-md-3 g-4"
  style="
    z-index: 3;
    width: 100px;
    height: 300px;
    position: absolute;
    left: 800px;
    top: 900px;
  "
>
  <div class="col">
    <div class="card"></div>
  </div>
</div>
