* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* ---- grid ---- */

.grid {
  //   background: #EEE;
  max-width: 1320px;
  min-width: 635px;
}

/* clearfix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
.grid-item {
  width: 306px;
  float: left;
  border: 0px;
  margin-bottom: 16px;
  margin-left: 16px;
  // border-radius: 8px;
}

.grid-item.one-third {
  // width: 424px;
  width: 416px;
}

.grid-item.two-thirds {
  // width: 847px;
  width: 843px;
}

.grid-item.two {
  width: 635px;
}

.grid-item.three {
  width: 960px;
}

.grid-item.four {
  width: 1285px;
}

.grid-item.game-image {
  width: 150px;
}

// resize four-width when screen too small
@media screen and (max-width: 1399px) {
  .grid-item.four {
    width: 960px;
  }
}

// resize three- and four-width when screen too small
@media screen and (max-width: 1010px) {
  .grid-item.three {
    width: 635px;
  }
  .grid-item.four {
    width: 635px;
  }
}

// fill 100% width for mobile devices (under 500 pixels wide)
@media screen and (max-width: 500px) {
  .grid {
    min-width: 100%;
  }
  .grid-item {
    width: 100%;
  }
  .grid-item.two {
    width: 100%;
  }
  .grid-item.three {
    width: 100%;
  }
  .grid-item.four {
    width: 100%;
  }
}

.grid-item--width2 {
  width: 320px;
}

.grid-item--width3 {
  width: 480px;
}

.grid-item--width4 {
  width: 640px;
}

.grid-item--height2 {
  height: 200px;
}

.grid-item--height3 {
  height: 260px;
}

.grid-item--height4 {
  height: 360px;
}
