/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

// global variables
:root {
  --backgroundColor: hsl(218, 41%, 25%);
  --bodyBackgroundColor: hsl(218, 41%, 15%);
  --bgGlassBackground: hsla(0, 0%, 100%, 0.15);
  --bgGlassBackdropFilter: blur(30px);
  --backgroundImage: radial-gradient(
    650px circle at 0% 0%,
    hsl(218, 41%, 35%) 15%,
    hsl(218, 41%, 30%) 35%,
    hsl(218, 41%, 20%) 75%,
    hsl(218, 41%, 19%) 80%,
    transparent 100%
  ),
  radial-gradient(
    1250px circle at 100% 100%,
    hsl(218, 41%, 45%) 15%,
    hsl(218, 41%, 30%) 35%,
    hsl(218, 41%, 20%) 75%,
    hsl(218, 41%, 19%) 80%,
    transparent 100%
  );
}

body {
  background-color: var(--bodyBackgroundColor);
  background-image: var(--backgroundImage);
  height: 100vh;
  padding-left: 0px;
  overflow-x: hidden;
  color: #fff;
}
// resize on smaller screens
@media only screen and (max-width: 991.98px) {
  body {
    height: 100%;
  }
}

.bg-glass {
  background: var(--bgGlassBackground);
  backdrop-filter: var(--bgGlassBackdropFilter);
}
.bg-theme {
  background-color: var(--backgroundColor);
}
.text-muted {
  color: hsl(0, 0%, 80%) !important;
}
.text-success {
  color: hsl(144, 100%, 40.9%) !important;
}
.text-danger {
  color: hsl(350, 94.3%, 68.4%) !important;
}
.border-bottom {
  border-bottom: 1px solid hsl(0, 0%, 50%) !important;
}
.badge {
  padding: 5px 10px;
}

